#logout_button{
	color: #fff;
	background: #337ab7;
	padding: 8px 13px 8px 13px;
	border: none;
	text-decoration: none;
	font-size: 15pt;
	font-family: Arial;
}

a:link, a:visited {
    color: blue;
}

#userheader{
	margin-top: 12px;
}
.box, .box1{
	display: inline-block;
}

#rate_button{
	color: #fff;
	background: #337ab7;
	padding: 8px 17px 8px 17px;
	border: none;
	text-decoration: none;
	font-size: 15pt;
	font-family: Arial;
}

#search_div{
width:800px;
margin: 0 auto;
margin-top: 100px;

}

#search_box{
height: 40pt;
border: 2px solid grey;
border-radius: 3px;
font-size: 20pt;
width: 700px;
padding-left: 10px;
}

#search-icon{
height: 54px; 
width: 54px;
position: absolute;
top:188px;
}
