#rec{
	color: #fff;
	background: #337ab7;
	padding: 8px 17px 8px 17px;
	border: none;
	text-decoration: none;
	font-size: 15pt;
	font-family: Arial;
}
#logout_button{
	color: #fff;
	background: #337ab7;
	padding: 8px 13px 8px 13px;
	border: none;
	text-decoration: none;
	font-size: 15pt;
	font-family: Arial;
}
#userheader{
	margin-top: 12px;
}
.box, .box1{
	display: inline-block;
}

#rate_button{
	color: #fff;
	background: #337ab7;
	padding: 8px 17px 8px 17px;
	border: none;
	text-decoration: none;
	font-size: 15pt;
	font-family: Arial;
}
